<div class="postContainer">
  <div class="postContainerOverlay"></div>
  <div class="postFormContainer">
    <form
      class="postForm"
      #addPost="ngForm"
      (ngSubmit)="submitPostForm(addPost)"
    >
      <h4 class="component">Title</h4>
      <input id="titleBox" type="text" name="title" ngModel />
      <h4 class="component">Thought</h4>
      <input id="thoughtBox" type="text" name="thought" ngModel />
      <button class="addPostButton">Add Post</button>
    </form>
  </div>
</div>
